.row.text-center
  .col-md-12
    h2 The Annoying Tracker
    
.row.text-center
  .col-md-12
    .jumbotron
      p
        a.btn.btn-success.btn-lg(href="/releases")
          | Go to downloads page
